.btn {
  outline: none;
  border: none;
  border-radius: 2px;
  border: 1px solid gray;
  background-color: lightgray;
  width: 130px;
  padding: 1em 0em;
  cursor: pointer;
  will-change: filter;
  transition: filter ease .3s;
  &:hover {
    filter: brightness(120%);
  }
  p {
    margin: 0;
  }
  &-blue {
    background-color: rgba(7, 89, 197, 0.678);
    color: #fff;
  }
}