:root {
  --link-color: #2F6BA6;
  --brand-green: #30BAA8;
  --button-blue: #3686EC;
  --browser-phone-breakpoint: 600px;
}

.App {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
}
button {
  font-family: sans-serif;
}
.logo {
  height: 3em;
}

main.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;
}

.footer {
  padding-top: 10px;
  height: 50px;
}

.ta-left {
  text-align: left;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 5px;
}

a {
  display: block;
  margin-bottom: 10px;
  color: var(--link-color);
  will-change: color;
  transition: color .15s ease;
}
p, li {
  line-height: 1.3;
}
a:hover {
  color: var(--brand-green);
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

mb-2 {
  margin-bottom: 20px;
}

